.the_grid{
    width:100vw;
    background: var(--ion-color-primary);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;   
    height: 100%;
}
.grid-rows{

}
.grid-label{
    margin-left: 10px;
}

.grid-items{
    font-size: larger;
    color:var(--color-app-logo-green);
    width: 51vw;
    text-align: left;;
    margin:10px;
    border: 0.5px solid black;
    border-radius: 5px;

}
.grid-title{
    width: 100vw;
    text-align: center;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-top: -5px;
    margin-bottom: 70px;
}
.grid-input{
    color:var(--ion-color-primary);
}
.grid-form{
    height: 100vh;
}





@media only screen and (max-width: 600px){
    .grid-items{
        width: 90vw;
    }
    .grid-title{
        width: 96vw;
        margin-bottom: 120px;
        text-align: center;
    }
}